.jumbotron {
  padding: 2rem 2rem;
}

.btn-sm {
  padding: 0.1rem 0.2rem;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.phone-num {
  position: relative;
  display: inline-block;
  h5 {
    display: inline-block;
  }
}
