<div class="container h-100" *ngIf="lookupsService.sortedVals">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="mt-3 col-sm-10 mx-auto">
      <h3 class="text-center mb-4">Create a New Entry</h3>
      <form class="mt-4" [formGroup]="CreateForm">
        <div class="form-group row">
          <label for="inputDate" class="col-sm-2 col-form-label text-right"
            >Date:<span class="red">*</span></label
          >
          <div class="col-sm-8 input-group">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dp"
              [(ngModel)]="date"
              [ngModelOptions]="{ standalone: true }"
              ngbDatepicker
              (ngModelChange)="onDateSelection($event, d)"
              #d="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d.toggle()"
                type="button"
              >
                <i class="fas fa-calendar-alt"></i>
              </button>
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="form-group row">
          <label for="inputDate" class="col-sm-2 col-form-label text-right"
            >Time:<span class="red">*</span></label
          >
          <div class="col-sm-8">
            <ngb-timepicker
              name="time"
              [(ngModel)]="time"
              [seconds]="true"
              [ngModelOptions]="{ standalone: true }"
            ></ngb-timepicker>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right"
            >Location:<span class="red">*</span></label
          >
          <div class="col-sm-8">
            <select class="custom-select" formControlName="locationControl">
              <option value="" selected disabled>Please select</option>
              <option
                [ngValue]="value.val"
                *ngFor="let value of lookupsService.sortedVals.location"
              >
                {{ value.val }}</option
              >
            </select>
          </div>
          <div class="col-sm-2"></div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right"
            >Show:<span class="red">*</span></label
          >
          <div class="col-sm-8">
            <select class="custom-select" formControlName="showControl">
              <option value="" selected disabled>Please select</option>
              <option
                [ngValue]="value.val"
                *ngFor="let value of lookupsService.sortedVals.show"
              >
                {{ value.val }}</option
              >
            </select>
          </div>
          <div class="col-sm-2"></div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right"
            >Classification:<span class="red">*</span></label
          >
          <div class="col-sm-8">
            <select
              class="custom-select"
              formControlName="classificationControl"
            >
              <option value="" selected disabled>Please select</option>
              <option
                [ngValue]="value.val"
                *ngFor="let value of lookupsService.sortedVals.classification"
              >
                {{ value.val }}</option
              >
            </select>
          </div>
          <div class="col-sm-2"></div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right"
            >What was heard on air:<span class="red">*</span></label
          >
          <div class="col-sm-8">
            <select class="custom-select" formControlName="heardOnAirControl">
              <option value="" selected disabled>Please select</option>
              <option
                [ngValue]="value.val"
                *ngFor="let value of lookupsService.sortedVals.heardOnAir"
              >
                {{ value.val }}</option
              >
            </select>
          </div>
          <div class="col-sm-2"></div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label text-right"
            >Action taken by drive tech:<span class="red">*</span></label
          >
          <div class="col-sm-8">
            <select class="custom-select" formControlName="actionTakenControl">
              <option value="" selected disabled>Please select</option>
              <option
                [ngValue]="value.val"
                *ngFor="let value of lookupsService.sortedVals.actionTaken"
              >
                {{ value.val }}</option
              >
            </select>
          </div>
          <div class="col-sm-2"></div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 text-right">On Air:</div>
          <div class="col-sm-8">
            <div class="form-check">
              <input
                formControlName="onAirControl"
                class="form-check-input"
                type="checkbox"
                id="onAir"
              />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 text-right">Funder:</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="gridCheck1"
                formControlName="funderControl"
              />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>

        <div class="form-group row">
          <label for="inputDate" class="col-sm-2 col-form-label text-right"
            >Duration:<span class="red">*</span></label
          >
          <div class="col-sm-8">
            <ngb-timepicker
              name="duration"
              [(ngModel)]="duration"
              [ngModelOptions]="{ standalone: true }"
              [seconds]="true"
            ></ngb-timepicker>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="form-group row">
          <label for="inputEtag" class="col-sm-2 col-form-label text-right"
            >E-Tag:</label
          >
          <div class="col-sm-8">
            <textarea
              class="form-control"
              id="inputEtag"
              rows="1"
              formControlName="eTagControl"
            ></textarea>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="form-group row">
          <label for="inputEntry" class="col-sm-2 col-form-label text-right"
            >What actually happened:<span class="red">*</span></label
          >
          <div class="col-sm-8">
            <textarea
              class="form-control"
              id="inputEntry"
              rows="3"
              formControlName="whatActuallyHappenedControl"
            ></textarea>
          </div>
          <div class="col-sm-2"></div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2 text-right">Create IT Service Ticket:</div>
          <div class="col-sm-8">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="gridCheck1"
                formControlName="serviceTicketControl"
              />
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>

        <div class="form-group row">
          <div class="col-sm-2 text-right">File Attachment:</div>
          <div class="input-group mb-3 col-sm-8">
            <div class="custom-file">
              <input
                type="file"
                name="file"
                class="custom-file-input"
                id="importFile"
                (change)="onFileChange($event.target.files)"
              />
              <label class="custom-file-label" for="importFile" #labelImport
                >Choose file</label
              >
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <button
              type="submit"
              class="btn btn-primary btn-block"
              (click)="open(content)"
            >
              Submit
            </button>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirm Submission</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" *ngFor="let info of infos">
      <div class="col-sm-4">
        <h6 class="font-weight-bold">{{ info.title }}</h6>
      </div>
      <div class="col-sm-8">
        <p>
          {{ info.data }}
        </p>
      </div>
    </div>
    <div *ngIf="fileToUpload">
      <h6 class="font-weight-bold">Attachment:</h6>
      <div *ngIf="imgURL; then imgPrev; else noPrev"></div>
      <ng-template #imgPrev><img class="prev" [src]="imgURL"/></ng-template>
      <ng-template #noPrev
        ><p>
          {{ fileToUpload.type }} <br />
          No Preview Available
        </p>
      </ng-template>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="submitting; then submittingbtn; else submitbtn"></div>
    <ng-template #submitbtn>
      <button
        type="button"
        class="btn btn-outline-primary btn-block"
        (click)="onSubmit()"
      >
        Confirm
      </button>
    </ng-template>
    <ng-template #submittingbtn>
      <button type="button" class="btn btn-outline-primary btn-block" disabled>
        Saving...
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </ng-template>
  </div>
</ng-template>
