.val-btns {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.3rem;
  i {
    color: rgb(172, 172, 172);
  }
  i:hover {
    color: rgb(44, 44, 44);
  }
  .edit-btn {
    padding-right: 0.5rem;
  }
  .del-btn {
    padding-left: 0.5rem;
  }
}

.list-group-item {
  word-break: break-all;
  padding-right: 4.7rem;
}
