<div *ngIf="lookupsService.sortedVals">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ heading }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Location:</label>
        <div class="col-sm-8">
          <select class="custom-select" formControlName="locationControl">
            <option value="" selected disabled>Please select</option>
            <option
              [ngValue]="value.val"
              *ngFor="let value of lookupsService.sortedVals.location"
            >
              {{ value.val }}</option
            >
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Show:</label>
        <div class="col-sm-8">
          <select class="custom-select" formControlName="showControl">
            <option value="" selected disabled>Please select</option>
            <option
              [ngValue]="value.val"
              *ngFor="let value of lookupsService.sortedVals.show"
            >
              {{ value.val }}</option
            >
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right"
          >Classification:</label
        >
        <div class="col-sm-8">
          <select class="custom-select" formControlName="classificationControl">
            <option value="" selected disabled>Please select</option>
            <option
              [ngValue]="value.val"
              *ngFor="let value of lookupsService.sortedVals.classification"
            >
              {{ value.val }}</option
            >
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right"
          >What was heard on air:</label
        >
        <div class="col-sm-8">
          <select class="custom-select" formControlName="heardOnAirControl">
            <option value="" selected disabled>Please select</option>
            <option
              [ngValue]="value.val"
              *ngFor="let value of lookupsService.sortedVals.heardOnAir"
            >
              {{ value.val }}</option
            >
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right"
          >Action taken by drive tech:</label
        >
        <div class="col-sm-8">
          <select class="custom-select" formControlName="actionTakenControl">
            <option value="" selected disabled>Please select</option>
            <option
              [ngValue]="value.val"
              *ngFor="let value of lookupsService.sortedVals.actionTaken"
            >
              {{ value.val }}</option
            >
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3 text-right">On Air:</div>
        <div class="col-sm-8">
          <div class="form-check">
            <input
              formControlName="onAirControl"
              class="form-check-input"
              type="checkbox"
              id="onAir"
            />
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 text-right">Funder:</div>
        <div class="col-sm-8">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="gridCheck1"
              formControlName="funderControl"
            />
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputDate" class="col-sm-3 col-form-label text-right"
          >Duration:</label
        >
        <div class="col-sm-8">
          <ngb-timepicker
            name="duration"
            [(ngModel)]="duration"
            [ngModelOptions]="{ standalone: true }"
            [seconds]="true"
          >
          </ngb-timepicker>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEtag" class="col-sm-3 col-form-label text-right"
          >E-Tag:</label
        >
        <div class="col-sm-8">
          <textarea
            class="form-control"
            id="inputEtag"
            rows="1"
            formControlName="eTagControl"
          ></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEntry" class="col-sm-3 col-form-label text-right"
          >What actually happened:</label
        >
        <div class="col-sm-8">
          <textarea
            class="form-control"
            id="inputEntry"
            rows="3"
            formControlName="whatActuallyHappenedControl"
          ></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3 text-right">Create IT Service Ticket:</div>
        <div class="col-sm-8">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="gridCheck1"
              formControlName="serviceTicketControl"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div *ngIf="!isSaving; then savebtn; else savingbtn"></div>
    <ng-template #savebtn>
      <button type="button" class="btn btn-outline-primary" (click)="onSave()">
        Save
      </button>
    </ng-template>
    <ng-template #savingbtn>
      <button class="btn btn-outline-primary btn-sm mb-3 mt-4" disabled>
        Saving...
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </ng-template>
  </div>
</div>
